.ModalContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    z-index: 100;
    align-items: center;
}
.Modal{
    margin: 0;
    padding: 0;
    width: 75%;
    height: 90%;
    border-radius: 20px;
    display: flex;
}

.imgContainer {
    position: relative;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
}
.translucent {
    border-radius: 20px;
    height: 95%;
    width: 93%;
    background: rgba(255, 255, 255, 0.25);
    z-index: 1;
    position: absolute;
    align-self: center;
    justify-self: center;
}
.name {
    margin-top: 0;
    padding-top: 0;
    text-align: center;
    font-family: 'Pacifico';
    font-size: 2.5rem;
    z-index: 10;
}
.img {
    height: 250px;
    width: 250px;
    align-self: center;
    z-index: 10;
}
.types {
    font-size: 2.5rem;
    font-family: 'VT323';
    color: rgb(219, 3, 3);
    align-self: center;
    z-index: 10;
}
.heightWeight {
    font-size: 2rem;
    margin-top: 3.5%;
    font-family: 'VT323';
    align-self: center;
    z-index: 10;
}
.statsContainer {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.head {
    margin-top: 2%;
    color: rgb(219, 3, 3);
    font-size: 3rem;
    font-family: 'VT323';
}
.abilities {
    background: rgba(255, 255, 255, 0.25);
    width: 90%;
    border-radius: 20px;
    margin-top: -2.5%;
}
.abilities > p {
    display: inline-block;
    font-size: 2rem;
    font-family: 'VT323';
    margin-left: 5%;
}
.stats {
    background: rgba(255, 255, 255, 0.25);
    width: 90%;
    border-radius: 20px;
    margin-top: -2.5%;
    margin-bottom: 5%;
    font-size: 2rem;
    font-family: 'VT323';
    display: flex;
    align-items: center;
    justify-content: center;
}   
tr:nth-child(even) {
    color: rgb(219, 3, 3);
}
td {
    text-align: center;
    padding-right: 1.5rem;
}

@media (max-width: 359px) {
    .Modal {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .imgContainer {
        margin-top: 3%;
        width: 100%;
        display: flex;
    }
    .translucent {
        border-radius: 20px;
        height: 100%;
        width: 93%;
    }
    .img {
        height: 150px;
        width: 150px;
    }
    .types > p {
        font-size: 2rem;
        padding-bottom: 0.8rem;
    }
    .heightWeight {
        font-size: 1.5rem;
        margin: 0 auto;
        padding-bottom: 0.8rem;
    }
    .statsContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items:center;
    }
    .head {
        margin-top: 0.85rem;
        font-size: 1.7rem;
        margin-bottom: 0.85rem;
    }
    .abilities {
        width: 90%;
        text-align: center;
        line-height: 0;
    }
    .abilities > p {
        display: inline-block;
        font-size: 1.5rem;
        margin-left: 5%;
    }
    .stats {
        width: 90%;
        border-radius: 20px;
        font-size: 1.3rem;
    }   
    td {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

@media (min-width: 360px) and (max-width: 544px) {
    .Modal {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .imgContainer {
        margin-top: 3%;
        width: 100%;
        display: flex;
    }
    .translucent {
        border-radius: 20px;
        height: 100%;
        width: 93%;
    }
    .img {
        height: 150px;
        width: 150px;
    }
    .types > p {
        font-size: 2rem;
        padding-bottom: 0.8rem;
    }
    .heightWeight {
        font-size: 1.5rem;
        margin: 0 auto;
        padding-bottom: 0.8rem;
    }
    .statsContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items:center;
    }
    .head {
        font-size: 1.7rem;
        margin-top: 0.85rem;
        margin-bottom: 0.85rem;
    }
    .abilities {
        width: 90%;
        text-align: center;
        line-height: 0;
    }
    .abilities > p {
        display: inline-block;
        font-size: 1.5rem;
        margin-left: 5%;
    }
    .stats {
        width: 90%;
        border-radius: 20px;
        font-size: 1.3rem;
    }   
    td {
        text-align: center;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}
@media (min-width: 545px) and (max-width: 689px) {
    .Modal {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .imgContainer {
        margin-top: 5%;
        width: 100%;
        display: flex;
    }
    .translucent {
        border-radius: 20px;
        margin-top: 4%;
        height: 100%;
        width: 93%;
    }
    .img {
        height: 150px;
        width: 150px;
    }
    .types > p{
        font-size: 2.2rem;
        padding-bottom: 0.8rem;
    }
    .heightWeight {
        font-size: 1.5rem;
        margin: 0 auto;
        padding-bottom: 0.8rem;
    }
    .statsContainer {
        width: 100%;
        display: flex;
        
    }
    .head {
        font-size: 2rem;
        margin-top: 0.85rem;
        margin-bottom: 0.85rem;
    }
    .abilities {
        width: 90%;
        text-align: center;
    }
    .abilities > p {
        display: inline-block;
        font-size: 1.5rem;
        margin-left: 5%;
        
    }
    .stats {
        width: 90%;
        border-radius: 20px;
        font-size: 1.3rem;
        padding-bottom: 0.3rem;
    }   
    td {
        text-align: center;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}
@media (min-width: 690px) and (max-width: 1199px) {
    .Modal {
        height: auto;
    }
    .imgContainer {
        width: 75%;
    }
    .name {
        font-family: 2.5rem;
        position: absolute;
        top:2%;
    }
    .img {
        height: 200px;
        width: 200px;
    }
    .types > p {
        font-size: 2rem;
    }
    .heightWeight {
        font-size: 1.5rem;
        margin: 0 auto;
        padding-bottom: 0.8rem;
    }
    .statsContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items:center;
    }
    .head {
        font-size: 2.5rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .abilities {
        max-width: 80%;
        text-align: center;
        margin-bottom: 1rem;
    }
    .abilities > p {
        display: inline-block;
        font-size: 1.5rem;
        margin-left: 5%;
        line-height: 0;
    }
    .stats {
        max-width: 80%;
        border-radius: 20px;
        font-size: 1.5rem;
    }   
    td {
        text-align: center;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}
@media (min-width: 1200px) {
    .Modal {
        height:auto;
    }
    .name {
        font-size: 3rem;
    }
    .types > p {
        font-size: 2.5rem;
    }

    .heightWeight {
        font-size: 2rem;
    }
    .head {
        font-size: 3rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .abilities > p {
        font-size: 2rem;
    }
    td {
        font-size: 2rem;
    }
}

