.card {
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 1.6rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    transition: transform .2s;
}

.card:hover {
    transform: scale(1.2);
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.2);
  }

.img {
  text-align: center;
}
.name {
  padding: 0;
  margin: 0;
}
.backButton {
  margin-top: 10%;
  border: 1px solid white;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  color: red;
}

.backButton:hover {
  color:white;
  background: red;
}

.types > p {
  display: inline-block;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 0;
  color: #db0303;
  font-family: 'VT323';
  font-size: 2rem;
  text-align: center;
}
@media (max-width:359px) { 

}

@media (min-width: 360px) and (max-width: 544px) {
  .gridItem {
    height: auto;
    font-size: 1rem;
  }
  .img {
    width: 150px;
    height: 150px;
  }
  .types > p {
    display: inline-block;
    padding-bottom: 5%;
    font-size: 1.5rem;
  }
}

@media (min-width: 544px) {
  .gridItem {
    width: auto;
    height: auto;
    font-size: 1rem;
  }
  .img {
    width: 200px;
    height: 200px;
  }
  .types > p {
    display: inline-block;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 0;
    padding-bottom: 5%;
    font-size: 2rem;
  }
}